<IfModule mod_rewrite.c>
    # Ensure proper modules are enabled
    RewriteEngine On

    # Redirect non-www to www (or remove "www" if preferred)
    RewriteCond %{HTTP_HOST} !^immobiliere\.tn$ [NC]
    RewriteRule ^(.*)$ https://immobiliere.tn/$1 [R=301,L]

    # Redirect Trailing Slashes If Not A Folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Send Requests To Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>

